<%=
  form_with model: participation,
    url: participation.persisted? ? participation : [participation.tournament, participation],
    class: "flex flex-col gap-4" do |form|
%>
  <%= form.hidden_field :user_id, value: participation.user_id %>
  <%= form.hidden_field :tournament_id, value: participation.tournament_id %>

  <%= render "shared/errors", form: form %>

  <%= tag.p t(".bring_info") %>
  <%= tag.span t(".bring") %>

  <div>
    <%= tag.span t(".brings_basegame") %>
    <div class="flex gap-4">
      <div class="flex items-center gap-1">
        <%= form.check_box :brings_basegame_english, class: "rounded" %>
        <%= form.label :brings_basegame_english %>
      </div>

      <div class="flex items-center gap-1">
        <%= form.check_box :brings_basegame_german, class: "rounded" %>
        <%= form.label :brings_basegame_german %>
      </div>
    </div>
  </div>

  <div>
    <%= tag.span t(".brings_prelude") %>
    <div class="flex gap-4">
      <div class="flex items-center gap-1">
        <%= form.check_box :brings_prelude_english, class: "rounded" %>
        <%= form.label :brings_prelude_english %>
      </div>

      <div class="flex items-center gap-1">
        <%= form.check_box :brings_prelude_german, class: "rounded" %>
        <%= form.label :brings_prelude_german %>
      </div>
    </div>
  </div>

  <div class="flex items-center gap-1">
    <%= form.check_box :brings_hellas_and_elysium, class: "rounded" %>
    <%= form.label :brings_hellas_and_elysium %>
  </div>

  <div class="flex flex-col gap-1">
    <%= form.label :comment %>
    <div class="flex flex-col">
      <%= form.text_area :comment, class: "rounded" %>
      <div class="text-sm text-slate-600"><%= t(".comment_comment") %></div>
    </div>
  </div>

  <div class="flex">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
