<%# locals: (participation:) %>

<div class="flex flex-col gap-4">
  <% if participation.brings_anything? %>
    <%= tag.span t(".bring"), class: "font-bold" %>
    <ul class="list-inside list-disc">
      <%= tag.li t(".brings_basegame_english") if @participation.brings_basegame_english? %>
      <%= tag.li t(".brings_basegame_german") if @participation.brings_basegame_german? %>
      <%= tag.li t(".brings_prelude_english") if @participation.brings_prelude_english? %>
      <%= tag.li t(".brings_prelude_german") if @participation.brings_prelude_german? %>
      <%= tag.li t(".brings_hellas_and_elysium") if @participation.brings_hellas_and_elysium? %>
    </ul>
  <% end %>

  <% if @participation.comment.present? %>
    <div>
      <%= tag.span Participation.human_attribute_name(:comment), class: "font-bold" %>:
      <p><%= @participation.comment %></p>
    </div>
  <% end %>

  <div><%= link_to t(".edit_participation"), [:edit, @participation], class: "link" %></div>
</div>
