<%# locals: (participation:) %>

<section class="flex flex-col gap-4">
  <% if participation.paid? %>
    <%=
      tag.div class:
                "inline-flex items-center gap-1 self-start rounded-full bg-emerald-100 px-2 py-1 font-medium text-emerald-900 ring-1 ring-emerald-900/10 ring-inset" do
    %>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>

      <%= tag.span t(".paid") %>
    <% end %>
  <% else %>
    <%=
      tag.div class:
                "inline-flex items-center gap-1 self-start rounded-full bg-rose-100 px-2 py-1 font-medium text-rose-900 ring-1 ring-rose-900/10 ring-inset" do
    %>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="size-6"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
      <%= t(".payment_pending") %>
    <% end %>

    <span><%= t(".finalize_registration") %></span>
    <%= render "shared/bank_details" %>
  <% end %>
</section>
