<%= turbo_frame_tag @participation do %>
  <h1><%= t(".heading") %></h1>

  <%= render "tournament_info", tournament: @participation.tournament %>

  <%= render "payment_status", participation: @participation %>

  <%= render @participation %>
<% end %>
