<div class="border border-black p-1">
  <div class="font-bold"><%= tournament.name %></div>

  <div><%= link_to t(".participations"), [tournament, :participations], class: "link" %></div>

  <div><%= l(tournament.date) %></div>

  <div><b><%= tournament.participations.count %></b> / <%= tournament.max_participations %></div>

  <%= link_to t("edit"), [:edit, :admin, tournament], class: "link" %>
</div>
