<h2 class="mb-2 text-xl font-bold">Kommunikation</h2>

<b>E-Mail</b>
<p>
  Die wichtigsten Infos erhaltet ihr per E-Mail an die in eurem
  <%= link_to "Profil", :profile, class: "link" %>
  hinterlegte E-Mail-Adresse<%= " (in deinem Fall #{Current.user.email_address})" if authenticated? %>.
</p>

<br>
<b>WhatsApp-Gruppe</b>
<p>
  Für Fragen und kurzfristige Informationen am Turniertag haben wir eine WhatsApp Gruppe eingerichtet. Alle wichtigen
  Infos werden aber per E-Mail wie oben beschrieben verschickt. Ihr verpasst also nichts, wenn ihr nicht Teil der
  WhatsApp Gruppe seid. Tritt der WhatsApp Gruppe über
  <%=
    link_to "diesen Link",
      "https://chat.whatsapp.com/DwgJ3hJNPrwDyFWXP3nGBT",
      class: "link",
      target: "_blank",
      rel: "noopener"
  %>
  bei oder scanne diesen QR-Code:
</p>

<br>
<div class="flex justify-center">
  <%=
    RQRCode::QRCode
      .new("https://chat.whatsapp.com/DwgJ3hJNPrwDyFWXP3nGBT")
      .as_svg(viewbox: true, fill: :white, color: :black, svg_attributes: {class: "size-48"})
      .html_safe
  %>
</div>

<br>
<b>Weitere Anliegen</b>
<p>
  Für weitere Anliegen, die nicht in die WhatsApp Gruppe passen, könnt ihr euch immer per E-Mail an
  <%= mail_to "support@terraforming-cologne.de", class: "link" %>
  wenden.
</p>
