<section class="flex flex-col gap-8">
  <div>
    <h1 class="mb-4 text-center text-5xl font-extrabold">German Open</h1>
    <h2 class="text-center font-extrabold"><%= t(".terraforming_mars_tournament") %></h2>
  </div>

  <div class="flex justify-center"><%= image_tag "logo_with_text.svg", class: "w-48" %></div>

  <% if Tournament.planned? %>
    <div class="self-center text-center">
      <% if authenticated? && Current.user.participations.exists?(tournament: Tournament.next) %>
        <%= tag.div class: "mb-2 rounded bg-emerald-100 p-3 text-emerald-900" do %>
          <span><%= t(".already_registered") %></span>

          <span>
            <%= link_to t(".edit_participation"), [:edit, Participation.find_sole_by(user: Current.user, tournament: @tournament)], class: "link" %>.
          </span>

          <p><%= link_to t(".check_out_the_tournament_overview_page"), Tournament.next, class: "link" %></p>
        <% end %>
      <% else %>
        <%= render "shared/register_button", tournament: Tournament.next %>
      <% end %>
    </div>
  <% end %>
</section>
