<section>
  <h1>Registration and Entry Fee</h1>

  <p>
    If you'd like to register for the tournament, you can do so
    <%= link_to "here", :register, class: "link" %>. The entry fee is 15€.
  </p>

  <p>
    Your registration will only be complete once we have confirmed your payment.
    You will receive a confirmation email for this. Additionally, you can check
    the status of your registration in your
    <%= link_to "profile", :profile, class: "link" %>.
  </p>

  <p>
    Please transfer the entry fee promptly after registering to the following
    account:
  </p>

  <br>

  <%= render "shared/bank_details" %>

  <br>

  <p>
    On-site registration cannot be guaranteed. However, if there are still spots
    available, we will gladly accept on-site registrations. To ensure your
    participation, it is better to register online in advance.
  </p>

  <br>
  <b>Cancellation Policy</b>

  <p>
    If you would like to cancel your registration, please do so
    <%= link_to "here", %i[edit participation], class: "link" %>. If you cancel
    before <%= time_tag Date.new(2025, 3, 30) %>, we will refund your
    participation fee.
  </p>

  <p>
    If you cannot attend because of unforeseen circumstances, please write us an
    email at <%= mail_to "support@terraforming-cologne.de", class: "link" %>. We
    will try to find a solution together.
  </p>
</section>
