<section>
  <h1>Rule Clarifications</h1>

  <div class="flex flex-col gap-4">
    <details>
      <summary class="font-bold">Volcanoes</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "volcanoes.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">There are no volcanoes on Hellas. Therefore, you may place Lava Flows and Lava Tube Settlement on other
          locations.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Noctis City</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "noctis.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">On Elysium and Hellas, there is no designated place for Noctis City. You may place it there as a regular
          city.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Order</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "order.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">You can choose the order of effects yourself. If you have Viral Enhancers on the table but no plant yet, you
          can still play Moss. Removing the plant is not a 'cost' but an effect. Also, if you play Giant Ice Asteroid
          and someone has Arctic Algae on the table, you can determine the order of getting and destroying plants.</div>
      </div>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "order_2.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">This is also allowed: 1) Play Nuclear Zone, 2) raise the temperature to zero degrees, 3) place the ocean, and
          4) place the Nuclear Zone tile next to the ocean to get 2MC back.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Search For Life</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "search_for_life.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">Search For Life allows you to score a maximum of 3VP, regardless of the number of science resources on the
          card. Playing CEO's Favorite Project on Search For Life does not give you more points.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Production or resources</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "production_or_resources.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">If playing a card requires you to reduce production (like Energy Tapping), it is mandatory. If it takes away
          resources (like Comet), it is optional.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Mining Expedition</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "mining_expedition.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">The text of Mining Expedition says: “Remove 2 plants from any player” instead of “Remove
          <strong>up</strong>
          to 2 plants from any player” like other asteroids. However, Mining Expedition works the same.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Robotic Workforce</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "robotic.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">With Robotic Workforce you may also copy the production of a corporation or a prelude card.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Ecology Experts</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "ecology.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">Global requirements are temperature, oxygen, and oceans. You may also play cards with other requirements,
          such as science labels, but you must have those labels on your already played cards.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Vitor/Point Luna</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "vitor.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">If you play Vitor, you get 3MC back, because the card itself already has a question mark at the points. If
          you play Point Luna, you can immediately take a card because Point Luna has an earth label.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">No Money for Prelude Card</summary>
      <div class="flex flex-wrap gap-4 p-4">
        <%= image_tag "prelude.jpg", class: "w-96 flex-initial" %>
        <div class="w-96">If after playing your corporation and paying for your cards you do not have enough money to pay the required
          cost of a Prelude card, you must sell the Prelude card for 15 MC.</div>
      </div>
    </details>

    <details>
      <summary class="font-bold">Parameters max</summary>
      <div class="w-96 p-4">If temperature or oxygen are full you can still use an action to make heat or oxygen. You don't get points for
        this, but it can sometimes be useful as a delay action to wait and see what another player is going to do.</div>
    </details>
  </div>
</section>
