<div class="flex flex-col gap-8">
  <div>
    <h1 class="text-center text-3xl font-bold">German Open 2025</h1>
    <h2 class="text-center"><%= t(".terraforming_mars_tournament") %></h2>
  </div>

  <div class="flex justify-center">
    <%= image_tag "logo_with_text.svg", class: "size-48" %>
  </div>

  <div><%= render "looking_back" %></div>
  <hr>
  <div><%= render "rule_clarifications" %></div>
  <div><%= render "rules" %></div>
  <div><%= render "scoring" %></div>
  <div><%= render "spirit" %></div>
  <div><%= render "fryxgames" %></div>
  <div><%= render "language" %></div>
  <div><%= render "getting_here" %></div>
  <div><%= render "bringing_games" %></div>
  <div><%= render "food" %></div>
  <div><%= render "media" %></div>
  <div><%= render "communication" %></div>
</div>
