<h1><%= t(".heading") %></h1>

<%= form_with model: @password, url: password_reset_path(params[:token]), class: "flex flex-col gap-2" do |form| %>
  <%= render "shared/errors", form: form %>

  <div class="flex flex-col gap-1">
    <%= form.label :password %>
    <%=
      form.password_field :password,
        required: true,
        autocomplete: "new-password",
        minlength: 8,
        maxlength: 72,
        class: "rounded"
    %>
  </div>

  <div class="flex flex-col gap-1">
    <%= form.label :password_confirmation %>
    <%=
      form.password_field :password_confirmation,
        required: true,
        autocomplete: "new-password",
        minlength: 8,
        maxlength: 72,
        class: "rounded"
    %>
  </div>

  <div class="flex">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
