<h1><%= t(".heading") %></h1>

<%= form_with url: :password_resets, class: "flex flex-col gap-2" do |form| %>
  <div class="flex flex-col gap-1">
    <%= form.label :email_address %>
    <%= form.email_field :email_address, required: true, autocomplete: "username", class: "rounded" %>
  </div>

  <%# TODO: t(".submit") is needed here because we have a form without a model %>
  <%= form.submit t(".submit"), class: "btn self-end btn-primary" %>
<% end %>
