<p>
  Hallo
  <%= @user.name %>,
</p>

<br>
<br>

<p>
  wir haben deine Registrierung für die German Open Terraforming Mars 2025 erhalten. Vielen Dank für dein Interesse an
  unserer Veranstaltung!
</p>

<p>
  Bitte erwarte weitere Informationen kurz vor dem Turnier. Zwischenzeitlich kannst du immer auf
  <%= link_to "unserer Webseite", root_url, class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  vorbeischauen.
</p>

<br>

<p>
  Du bist bereits in das Raumschiff zum Mars eingestiegen!
</p>

<p>
  Damit es jetzt auch abheben kann und um deine Registrierung abzuschließen, überweise bitte die Teilnahmegebühr von
  15€ auf folgendes Konto:
</p>

<br>

<%= render "shared/bank_details", user: @user %>

<br>

<p>
  Sobald wir deine Zahlung erhalten und verarbeitet haben, bekommst du eine Bestätigungsmail und die Reise zum Mars
  kann beginnen!
</p>

<p>
  Erst diese Mail wird die engültige Bestätigung für deine Teilnahme bei der German Open sein.
</p>

<br>

<p>
  Sollte sich etwas an deiner Teilnahme ändern, kannst du sie in deinem
  <%= link_to "Profil", profile_url, class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  bearbeiten.
</p>

<p>
  Bei Fragen, zögere bitte nicht, sie in der
  <%=
    link_to "WhatsApp Gruppe",
            "https://chat.whatsapp.com/DwgJ3hJNPrwDyFWXP3nGBT",
            class: "text-teal-700 underline decoration-2 hover:text-teal-500"
  %>
  zu stellen oder uns unter
  <%= mail_to "support@terraforming-cologne.de", class: "text-teal-700 underline decoration-2 hover:text-teal-500" %>
  zu kontaktieren.
</p>

<br>
<br>

<p>
  Viele Grüße
</p>

<br>

<p>
  Das Terraforming Cologne Team
</p>
