<div class="mb-4">
  <%= tag.span t(".no_account_yet") %>
  <%= link_to t("signup"), :signup, class: "link" %>
</div>

<div class="mb-4">
  <%= tag.span t(".password_forgotten") %>
  <%= link_to t(".reset"), %i[new password_reset], class: "link" %>
</div>

<%= render "form", login: @login %>
