<div class="flex">
  <div><%= participant.user.name %></div>
  <div><%= participant.user.email_address %></div>
  <div><%= participant.brings_basegame %></div>
  <div><%= participant.brings_prelude %></div>
  <div><%= participant.brings_hellas_and_elysium %></div>
  <div><%= participant.paid %></div>
</div>
