<div class="flex">
  <div><%= participant.brings_basegame_english %></div>
  <div><%= participant.brings_basegame_german %></div>
  <div><%= participant.brings_prelude_english %></div>
  <div><%= participant.brings_prelude_german %></div>
  <div><%= participant.brings_hellas_and_elysium %></div>
  <div><%= participant.paid %></div>
</div>
