<div class="flex">
  <div><%= User.human_attribute_name(:name) %></div>
  <div><%= User.human_attribute_name(:email_address) %></div>
  <div><%= Participant.human_attribute_name(:brings_basegame_english) %></div>
  <div><%= Participant.human_attribute_name(:brings_basegame_german) %></div>
  <div><%= Participant.human_attribute_name(:brings_prelude_english) %></div>
  <div><%= Participant.human_attribute_name(:brings_prelude_german) %></div>
  <div><%= Participant.human_attribute_name(:brings_hellas_and_elysium) %></div>
  <div><%= Participant.human_attribute_name(:paid) %></div>
</div>
<% @participants.each do |participant| %>
  <div class="flex">
    <div class="flex">
      <div><%= participant.user.name %></div>
      <div><%= participant.user.email_address %></div>
      <div><%= participant.brings_basegame_english %></div>
      <div><%= participant.brings_basegame_german %></div>
      <div><%= participant.brings_prelude_english %></div>
      <div><%= participant.brings_prelude_german %></div>
      <div><%= participant.brings_hellas_and_elysium %></div>
      <div><%= participant.paid %></div>
    </div>
    <% unless participant.paid? %>
      <%=
        button_to t(".paid"),
                  :payments,
                  method: :post,
                  params: {
                    participant_id: participant.id,
                  },
                  data: {
                    turbo_confirm: t(".confirm"),
                  }
      %>
    <% end %>
  </div>
<% end %>
