<%# locals: (attendance:) %>

<div>
  <h2><%= t(".your_next_game") %></h2>

  <div class="flex flex-col gap-8 rounded-2xl border-2 border-teal-300 bg-teal-100 p-4">
    <div class="mx-auto flex flex-wrap gap-4 text-sm">
      <div class="rounded-lg border border-teal-500 bg-teal-100 px-4 py-2">
        <span><%= Room.model_name.human %> <span class="font-bold"><%= attendance.room.number %></span></span>
      </div>

      <div class="rounded-lg border border-teal-500 bg-teal-100 px-4 py-2">
        <span><%= Table.model_name.human %> <span class="font-bold"><%= attendance.table.number %></span></span>
      </div>

      <div class="rounded-lg border border-teal-500 bg-teal-100 px-4 py-2">
        <span><%= Seat.model_name.human %> <span class="font-bold"><%= attendance.seat.number %></span></span>
      </div>
    </div>

    <div>
      <h3><%= t(".your_opponents") %></h3>

      <div class="grid grid-cols-[auto_1fr_auto] gap-4">
        <div class="font-semibold"><%= Seat.model_name.human %></div>

        <div class="font-semibold"><%= t(".name") %></div>

        <div class="font-semibold"><%= t(".language") %></div>

        <% attendance.seat.opponents.each do |opponent| %>
          <div><%= opponent.number %></div>

          <div><%= opponent.user.name %></div>

          <div><%= t("activerecord.attributes.user.locales.#{opponent.user.locale}") %></div>
        <% end %>
      </div>
    </div>

    <div class="flex justify-center">
      <%= link_to t(".enter_results"), [:new, @tournament, :tally], class: "btn btn-primary" %>
    </div>
  </div>
</div>
