<div class="space-y-2 border border-black p-1">
  <p class="font-bold"><%= tournament.name %> | <%= l(tournament.date) %></p>

  <p>
    <%= tournament.participations.count %> / <%= tournament.max_participations %>
    <%= link_to t(".participations"), [tournament, :participations], class: "link" %>
  </p>

  <div>
    <%= link_to t(".overview"), tournament, class: "link" %> |
    <%= link_to t(".bridge"), [tournament, :bridge], class: "link" %>
  </div>

  <div><%= link_to t(".edit"), [:edit, tournament], class: "link" %></div>
</div>
