<h1><%= t("activerecord.models.tournament.many") %></h1>

<div class="flex flex-col gap-8">
  <%= link_to t(".create_tournament"), [:new, :tournament], class: "link" %>

  <% if @next_tournament.present? %>
    <div>
      <h2><%= t(".next") %></h2>
      <%= render @next_tournament %>
    </div>
  <% end %>

  <div>
    <h2><%= t(".planned") %></h2>
    <% if @planned_tournaments.any? %>
      <div class="flex flex-col gap-4"><%= render @planned_tournaments %></div>
    <% else %>
      <span><%= t(".no_planned_tournaments") %></span>
    <% end %>
  </div>

  <% if @previous_tournaments.any? %>
    <div>
      <h2><%= t(".previous") %></h2>
      <div class="flex flex-col gap-4"><%= render @previous_tournaments %></div>
    </div>
  <% end %>
</div>
