<h1><%= @tournament.name %></h1>

<div class="flex flex-col gap-8">
  <% if @tournament.date.future? %>
    <%= render "future", tournament: @tournament %>
  <% elsif @tournament.tallied? %>
    <%= render "final_rankings", tournament: @tournament %>
  <% elsif @participation.blank? %>
    <%= render "not_registered", tournament: @tournament %>
  <% elsif @tournament.current_round_number.present? && @attendance.blank? %>
    <%= render "too_late" %>
  <% elsif @attendance.blank? %>
    <%= render "welcome", tournament: @tournament %>
  <% elsif @tournament.before_first_round? %>
    <%= render "before_first_round", tournament: @tournament %>
  <% elsif @tournament.last_round? && @attendance.game.tallied? %>
    <%= render "after_last_round" %>
  <% elsif @attendance.game.tallied? %>
    <%= render "between_rounds" %>
  <% else %>
    <%= render "next_game", attendance: @attendance %>
  <% end %>

  <% if !@tournament.tallied? && @tournament.previous_round.present? && @tournament.previous_round.tallied? %>
    <%= render "rankings", tournament: @tournament %>
  <% end %>
</div>
