<div class="mb-4 flex flex-col">
  <div class="flex items-center gap-2 border-b border-b-gray-200 pb-2">
    <%= link_to :root, class: "inline-block py-2 hover:opacity-60" do %>
      <%= image_tag "logo_with_text.svg", class: "size-16" %>
    <% end %>
    <%= render "shared/locale_switcher" %>
    <div class="ms-auto flex items-center gap-4">
      <% if authenticated? %>
        <%= link_to t(".profile"), :profile, class: "font-bold hover:text-teal-500" %>
        <%= button_to t("logout"), :logout, method: :delete, class: "btn btn-secondary" %>
      <% else %>
        <%= link_to t("login"), :login, class: "link" %>
      <% end %>
    </div>
  </div>
  <% if authenticated? && policy(Tournament).index? %>
    <div class="flex gap-2 border-b border-b-gray-200 py-2">
      <%= link_to t(".tournaments"), :tournaments, class: "font-bold hover:text-teal-500" %>
    </div>
  <% end %>
</div>
