<%= turbo_stream_from @tournament, :tallies %>

<%= render "tournaments/heading", tournament: @tournament, sub_heading: t(".bridge") %>

<div class="flex flex-col gap-16">
  <% if @round.present? %>
    <div><%= Round.model_name.human %> <%= @round.number %> (<%= @round.board %>)</div>
  <% end %>

  <% if @tournament.current_round.blank? %>
    <div><%= link_to t(".start_first_round"), [:new, @tournament, :first_round], class: "btn btn-primary" %></div>
  <% elsif @tournament.next_round.present? %>
    <div><%= link_to t(".start_next_round"), [:new, @tournament, :next_round], class: "btn btn-primary" %></div>
  <% end %>

  <% @rooms.each do |room| %>
    <div>
      <h3><%= Room.model_name.human %> <%= room.number %></h3>
      <div class="grid grid-cols-[repeat(auto-fill,minmax(--spacing(24),1fr))] gap-2">
        <% @games[room].each do |game| %>
          <% if game.tallied? %>
            <div class="flex flex-col items-center gap-1 rounded border border-teal-400 bg-teal-100 p-1">
              <span><%= game.table.number %></span>
              <%= link_to t("edit"), [:edit, game, :tally], class: "btn btn-secondary btn-sm" %>
            </div>
          <% else %>
            <div class="flex flex-col items-center gap-1 rounded border p-1">
              <span class="font-bold"><%= game.table.number %></span>
              <%= link_to t(".tally"), [:new, game, :tally], class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
