<%# locals: (game:) %>

<div>
  <p>
    Du gibst die Ergebnisse deines Spiels in <b><%= Round.model_name.human %></b> <b><%= game.round.number %></b> ein.
  </p>

  <p>
    Du hast in <b><%= Room.model_name.human %></b> <b><%= game.room.number %></b> an
    <b><%= Table.model_name.human %></b> <b><%= game.table.number %></b> gespielt.
  </p>
</div>
