<%# locals: (game:) %>

<p>
  Du gibst die Ergebnisse des Spiels in <b><%= Round.model_name.human %></b> <b><%= game.round.number %></b> in
  <b><%= Room.model_name.human %></b> <b><%= game.room.number %></b> an <b><%= Table.model_name.human %></b>
  <b><%= game.table.number %></b> ein.
</p>
