<%# locals: (game:) %>

<p>
  You are entering the results of the game in <b><%= Round.model_name.human %></b> <b><%= game.round.number %></b> in
  <b><%= Room.model_name.human %></b> <b><%= game.room.number %></b> at <b><%= Table.model_name.human %></b>
  <b><%= game.table.number %></b>.
</p>
