<%# locals: (seat:, round:, opponent_seats:) %>

<div class="flex flex-col gap-4">
  <div class="flex">
    <h2><%= t(:your_next_game) %></h2>
    <span><%= round.start_time %></span>

    <div class="rounded border"><%= round.board %></div>
  </div>

  <div class="flex gap-4">
    <div class="flex flex-col gap-2">
      <div><%= t("room") %> <span class="font-bold"><%= seat.room.number %></span></div>

      <div><%= t("table") %> <span class="font-bold"><%= seat.table.number %></span></div>

      <div><%= t("seat") %> <span class="font-bold"><%= seat.number %></span></div>
    </div>
    <div class="flex flex-col gap-2">
      <div><%= t(:your_opponents) %></div>

      <% opponent_seats.each do |opponent_seat| %>
        <div class="flex gap-2">
          <div><%= opponent_seat.user.name %></div>

          <div><%= opponent_seat.user.locale %></div>

          <div><%= opponent_seat.number %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
