<%# locals: (attendance:) %>

<div class="flex flex-col gap-4 rounded-xl border-2 border-teal-400 bg-teal-100 p-4">
  <div class="flex flex-col gap-4">
    <div class="flex gap-2">
      <div class="flex gap-4">
        <div>
          <span><%= Round.model_name.human %></span>
          <span class="font-bold"><%= attendance.game.round.number %></span>
        </div>

        <div>
          <span><%= Room.model_name.human %></span>
          <span class="font-bold"><%= attendance.seat.room.number %></span>
        </div>

        <div>
          <span><%= Table.model_name.human %></span>
          <span class="font-bold"><%= attendance.seat.table.number %></span>
        </div>

        <div><span><%= Seat.model_name.human %></span><span class="font-bold"><%= attendance.seat.number %></span></div>
      </div>
    </div>

    <div class="flex flex-col gap-2">
      <h3><%= t(".your_opponents") %></h3>

      <div class="grid grid-cols-[auto_1fr_auto] gap-4">
        <div class="font-bold"><%= Seat.model_name.human %></div>

        <div class="font-bold"><%= t("name") %></div>

        <div class="font-bold"><%= t("language") %></div>

        <% attendance.seat.opponents.each do |opponent| %>
          <div><%= opponent.number %></div>

          <div><%= opponent.user.name %></div>

          <div><%= opponent.user.locale %></div>
        <% end %>
      </div>
    </div>

    <%= link_to t(".enter_results"), [:new, @tournament, :tally], class: "btn self-center btn-primary" %>
  </div>
</div>
