<h1><%= t(".heading") %></h1>

<%= turbo_frame_tag :signup, target: "_top" do %>
  <div class="mb-4"><span><%= t(".already_has_account") %> <%= link_to t(".login"), :login, class: "link" %></span></div>
  <%= render "new_form", user: @user %>
<% end %>
